body {
  font-family: Georgia, "Times New Roman", Times, serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
}
.form input {
  border: none;
  padding: 15px 0px;
  font-size: 26px;
  margin-left: 100px;
}

.form input::placeholder {
  font-family: Georgia;
}
.form input:focus {
  outline: none;
}
.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  font-size: larger;
}
